 @use "variables" as v;

.mainArea{
    max-width: 400px;
    width: 90%;
    min-width: 300px;
    margin:  0 auto;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 0 50px;
    border-radius: 15px;
    @include v.mq(pc){
        top: 40%;
        transform: translate(-50%, -37%);
    }
    .mainAreaTitle{
        font-size: 40px;
        font-weight: 500;
        color: v.$blue;
        color: #000;
        letter-spacing: 1px;
        .mainAreaTitleSub{
            display: block;
            font-size: 18px;
            color: #000;
            text-shadow: initial;
        }
    }
    .mainAreaText{
        margin-top: 16px;
        margin-bottom: 50px;
    }

}