*{
    margin:0;
    padding: 0;
}

.green{
    background-color: #1BD570;
}
.blue{
    background-color: #479EFE;
}
.pink{
    background-color: #FE677A;
}

.labelLevel{
    width: 80px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    color: #fff;

}
/* .labelBtnInner{
    padding: 5px;
    border: solid #fff 2px;
    border-radius: 15px;
    font-weight: 500;
    
} */