.answerForm{
    display: flex;
    border: solid;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #fff;
    padding: 7px 3px  5px;
    align-items: center;
    .answerFormInput{
        border: unset;
        background-color: unset;
        width: 100%;
        border: solid unset;
        outline: none;
    }
}